body {
    font-family: "Press Start 2P", system-ui;
    font-style: normal;
    margin: 0;
    padding: 0;
}

nav {
    background-color: black;
    width: 100vw;
    height: 4rem;
    color: white;
    box-shadow: 0 0 10px 3px rgb(16, 255, 44);
}

span {
    font-size: x-small;
    margin-bottom: 6px;
}

.btn {
    color: white;
    font-size: 11px;
}

.btn:hover {
    background-color: rgb(35, 35, 35);
}

#the-logo {
    height: 4rem;
    width: 8rem;
}

#search-bar {
    width: 70%;
    height: 2rem;
    font-size: 10px;
}

#card {
    height: 15rem;
    width: 37rem;
    border-radius: 10px;
    background-color: rgb(240, 240, 240);
}

#card-img {
    height: 100%;
    width: 45%;
    border-radius: 10px 0 0 10px;
}

#card-body {
    height: 100%;
    width: 55%;
}

#result-p {
    font-size: small;
}